.not_found {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  
    h1 {
      size: 8rem;
      color: $color-3;
    }
    h2 {
      size: 7rem;
      color: $color-2;
    }
  }