.music {
    position: relative;
    margin: 16px;
    border : solid 5px $color-3;
    padding: 16px 16px;
    border-radius: 18px 18px 18px 18px;
    // height: 20%;
    width: 200px;
    // width: 100%;
    box-shadow: 1px 0px 5px 4px rgba(0, 0, 0, 0.19);
    background-color: white;
    color: $color-1;
    text-align: center;
    overflow: hidden;
    object-fit: cover;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    .music_header {
        img {
            width : 150px;
        }
        .title {
            font-size: 18px;
            padding: 0 8% 0 8%;
        }
        a{
            font-size: 14px;
            padding: 0 8% 0 8%;
        }
    }

    .btn_container {
        
        .remove_button {
            border-radius: 6px 6px 6px 6px;
            transition: 0.4s;
            width: 40px;
            height: 20px;
            margin: 5px;
            background-color: $color-4;
            border: solid 2px $color-3;
            color: white;
        
        }
        .remove_button:hover {
            background-color: $color-3;
        }

        .play_button {
            border-radius: 6px 6px 6px 6px;
            transition: 0.4s;
            width: 40px;
            height: 20px;
            margin: 5px;
            background-color: $color-4;
            border: solid 2px $color-5;
            color: white;
            
        }
        .play_button:hover {
            background-color: $color-5;
        }
    }
    
}
.music:hover {
    background-color: $color-2;
}