.searchspace {
  background-color: $color-4;
  color: $color-2;
  border-radius: 27px 27px 27px 27px;
  box-shadow: 1px 0px 5px 4px rgba(0, 0, 0, 0.19);
  border: 9px solid $color-3;
  padding: 10px;
  margin: 10px auto;
  width: 80%;

  .big_title{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: baseline;
      align-content: center;

      #logo {
          width: 8%;
      }
  }
  .searchbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    height: 50px;

    .textbar {
    width: 70%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0 20px;
    font-size: 95%;
    }

    .submit {
        width: 20%;
        height: 100%;
        border: solid 2px $color-3;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 95%;
        color: $color-2;
        transition: 0.4s;
        background-color: #9c6868;
        opacity: 0.6;
    }
    .submit:hover {
        opacity: 1;
    }
  }
  
}

.player_container {
      iframe {
        display: flex;
        margin: 5px auto;
      }
}

.playlist {
    background-color: $color-2;
    color: $color-1;
    border-radius: 27px 27px 27px 27px;
    box-shadow: 1px 0px 5px 4px rgba(0, 0, 0, 0.19);
    border: 9px solid $color-4;
    padding: 10px;
    width: 90%;
    margin: 5px auto;
}

